packages:
 yum:
  amazon-linux-extras: []

commands:
 01_postgres_activate:
  command: sudo amazon-linux-extras enable postgresql10
 02_postgres_install:
  command: sudo yum install -y postgresql-devel

option_settings:
 aws:elasticbeanstalk:environment:proxy:
  ProxyServer: apache
 aws:elasticbeanstalk:container:python:
  WSGIPath: vudback/wsgi.py
  NumProcesses: 3
  NumThreads: 20