container_commands:
  01_migrate:
    command: "$PYTHONPATH/python manage.py migrate"
    leader_only: true
  02_createsu:
    command: "$PYTHONPATH/python manage.py createsu"
    leader_only: true
  03_collectstatic:
    command: "$PYTHONPATH/python manage.py collectstatic --noinput --verbosity=0 --clear"
